body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

.center {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2rem;
    color: #333;
}

input[type="text"], button {
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.time-right {
    font-size: 0.8rem;
    color: #aaa;
}

.form-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-container {
    margin-bottom: 20px;
}
